@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400&display=swap");

body {
  font-family: "Anek Malayalam", sans-serif !important;
  overflow-x: hidden;
}

.user {
  height: 10vh !important;
  border-radius: 100% !important;
  object-fit: contain;
}

.box-messages {
  height: auto;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
  border: 2px solid green;
}
.avatar {
  height: 20vh !important;
  border-radius: 100% !important;
}
.hidebox {
  display: none;
}
.showbox {
  transition: all 0.3s linear;
}
.me {
  background-color: rgba(9, 108, 9, 0.292);
  color: white;
  padding: 0.2rem;
}
