<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center m-3">Whatsapp Login</h1>
    <div class="container">
      <div class="form-group mb-4">
        <label for="" class="label"> email </label>

        <input type="text" class="form-control" id="email" />
      </div>
      <div class="form-group mb-4">
        <label for="" class="label"> password </label>

        <input type="password" class="form-control" id="password" />
      </div>
      <div class="form-group mb-4">
        <button class="btn btn-primary" id="submit">submit</button>
      </div>
      <span class="mt-4">
        Dont have an account <a href="./register.html">Register here</a>
      </span>
    </div>

    <!-- scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>

    <script src="../js/config.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
